{% extends "base.html" %}

{% block title %}{{category.name}}Alle Angebote{% endblock %}

{% block tree %}
		{% if cat_defined %}
			{% include "items/cat_list2.html" %}
		{% endif %}
	{% comment %}
		{% include "items/cat_list_inc.html" %}
	{% endcomment %}
{% endblock %}

{% block content %}
<main>
		{% if cat_defined %}
    <section>
			<div class="">
					<h1>{{category}}</h1>
					<p>{{category.description}}.</p>
			</div>
    </section>
		{% endif %}

	<table>
		{% for item in object_list%}

			<tr>
				<td>
					<a href="{{item.get_absolute_url}}"> {{item.name}} </a>
				</td>
				<td>
					{{item.descr}}
				</td>
				<td>
					<a href="{{item.get_absolute_url}}/edit">Edit Item </a>
				</td>
				<td>
					TODO
				</td>
			</tr>

		{% endfor %}
	<table>

	{% if is_paginated %}
	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">next</a>
				<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
	{% endif %}

</main>
{% endblock %}

