<!doctype html>
<html>
<head>
{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Helfa Aux (develoment)</title>

  <link href="{% static "css/styles.css" %}" type="text/css" static="all" rel="stylesheet" />
  <script src="{% static "js/main.js" %}" type="text/javascript"></script>

    {% block mycss %}
    {% endblock %}
</head>
<body>

<div class="container">

  <div class="box-1">
		{% include "navbar.html" %}
	</div>

  <div class="box-5">
		{% include "header.html" %}
	</div>

  <div class="box-2">
    {% block content %}
  		<!-- main content area -->
  	{% endblock %}
	</div>

  <div class="box-3">
		<div class="round">
			{% if logged_in %}
					logged in as {{username}}
					<a href="{{pre}}users/logout">Logout<a/>
			{% else %}
				{% include "loginbox.html" %}
			{% endif %}
		</div>

		<div class="round">
			{% block tree %}
				<div>
					<!-- optional navigation trees -->
				</div>
			{% endblock %}
		</div>
	</div>

{% comment %}
  <div class="box-4">
		<div>
			<b>Helfa Aux Community - May the force be with you !</b>
		</div>
		{% include "footer.html" %}
	</div>
{% endcomment %}

</div>

</body>

</html>
